// Colors

$body-background: #232323;
$header-background: steelblue;
$h1-text: #fcfcfc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: $h1-text;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: $header-background;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.2);
  width: 100%;
}

h1 {
  color: $h1-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.602rem;
  font-weight: 400;
  padding: 0.5em 0;
}

span {
  color: $h1-text;
  font-size: 2.566rem;
}

button {
  border: none;
  background-color: $h1-text;
  color: $header-background;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 100%;
  padding: 0 0.5em;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: $header-background;
    color: $h1-text;
    transition: ease 400ms;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 4em auto;
  max-width: 600px;
}

.square {
  background-color: purple;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
  cursor: pointer;
  margin: 0.5em;
  padding-bottom: 30%;
  width: 30%;
  margin: 1.66%;
  transition: background-color ease 400ms;
  --webkit-transition: background-color ease 400ms;
  --moz-transition: background-color ease 400ms;
}

.selected {
  background-color: $header-background;
  color: $h1-text;
}

#color-display {
  font-weight: 700;
  text-transform: uppercase;
}

#striped {
  background-color: $h1-text;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

#striped span {
  color: $body-background;
  display: inline-block;
  font-size: 0.815rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}

@media screen and (max-width: 374px) {
  h1 {
    font-size: 1.266rem;
  }
  
  span {
    font-size: 2.027rem;
  }
} 